<div class="container">
  <div class="row">
    <div class="col-md-6 col-12 p-3">
      <div class="form-group">
        <label>Token to Use</label>
        <textarea rows="10" [(ngModel)]="newToken" class="form-control"></textarea>
      </div>
      <button class="btn btn-primary" (click)="userNewToken()">Use Token</button>
      <div class="col-12">
        <div class="form-group ">
          <label class="d-block font-weight-bold text-center"> Extra JWT Tokens To Use</label>
          <span class="text-muted">Copy to the token to use to the above token to use field and try navigating the
            pages</span>
        </div>
        <div class="form-group">
          <label for="">Admin JWT Token</label>
          <textarea class="form-control" rows=7>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsInJvbGUiOiJhZG1pbiIsImp0aSI6IjMwYzlhMDhkLWZjODYtNDQ0NC1iMTQ4LTg2Y2YyMDc4OGY2YiIsImlhdCI6MTUzODEzODMzNSwiZXhwIjoxNTM4MTQ2MTI2fQ.-GFva1sFmm1VcRcvcJiXS-SNsi0-RW1kZAXmbZMHmy4</textarea>
        </div>
        <div class="form-group">
          <label for="">Author JWT Token</label>
          <textarea class="form-control" rows=7>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsInJvbGUiOiJhdXRob3IiLCJqdGkiOiIzMGM5YTA4ZC1mYzg2LTQ0NDQtYjE0OC04NmNmMjA3ODhmNmIiLCJpYXQiOjE1MzgxMzgzMzUsImV4cCI6MTUzODE0NjI0OX0.tmkTLCuPi7VoCmdocsqYS6SkJPVV9YdemzxiZNlKdK4</textarea>
        </div>
        <div class="form-group">
          <label for="">Writer JWT Token</label>
          <textarea class="form-control" rows=7>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsInJvbGUiOiJ3cml0ZXIiLCJqdGkiOiIzMGM5YTA4ZC1mYzg2LTQ0NDQtYjE0OC04NmNmMjA3ODhmNmIiLCJpYXQiOjE1MzgxMzgzMzUsImV4cCI6MTUzODE0Mzc0NH0.Twq_iUdZiGWp4ZK3o1J5UAQMgsBRzprGVuEJogYEDcA</textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 p-3">
      <ol class="list-group">
        <li class="list-group">
          <a [routerLink]="['']">Guest Link</a>
        </li>
        <li class="list-group">
          <a [routerLink]="['writer']">Writer Link </a> </li>
        <li class="list-group">
          <a [routerLink]="['author']">Author Link</a></li>
        <li class="list-group">
          <a [routerLink]="['admin']">Admin Link</a></li>
      </ol>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
